name: Build and Deploy BackendApp to AWS EC2

on:
  push:
    branches:
      - production  # Triggers deployment when code is pushed to the production branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Dependencies
      run: npm install

    - name: Build Application
      run: npm run build

    - name: Deploy to EC2
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        # Copy application to EC2 instance
        scp -i "your-key.pem" -o StrictHostKeyChecking=no -r ./dist ec2-user@44.222.226.127:/var/www/nest-army-api
        
        # Install dependencies and start with PM2
        ssh -i "your-key.pem" ec2-user@44.222.226.127 << EOF
          cd /var/www/nest-army-api
          npm install --only=prod
          pm2 stop all || true
          pm2 start dist/main.js --name "nestjs-api"
          pm2 save
        EOF
